* text=auto
package-lock.json merge=ours

*.png binary
*.jpg binary
*.gif binary
*.ico binary
*.pdf binary

*.html  text eol=crlf
*.css   text eol=crlf
*.scss  text eol=crlf
*.js    text eol=crlf
*.jsx   text eol=crlf
*.ts    text eol=crlf
*.tsx   text eol=crlf
*.json  text eol=crlf
*.md    text eol=crlf
*.sh    text eol=crlf
*.yml   text eol=crlf
*.yaml  text eol=crlf

dist/* linguist-generated
build/* linguist-generated
coverage/* linguist-generated