{
    "printWidth": 80,
    "tabWidth": 4,
    "plugins": ["prettier-plugin-tailwindcss"],
    "overrides": [
        {
            "files": ".env.example",
            "options": {
                "parser": "yaml"
            }
        }
    ]
}
